!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title  Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 To Do List!
    %section
      %input#duedate{type: 'text', placeholder: 'month/day/year'}
      %input#task{type: 'text', placeholder: 'enter task'}
      %input#color{type: 'text', placeholder: 'enter a color'}
      %input#addtask{type: 'button', value: 'Add Task'}

    %section
      %table
        %tr
          %th#dueTh Due Date
          %th#taskTh Task
          %th#colorTh Color
          %th#doneTh Done?
          %th#removeTh Remove?
          %th#updownTh Up/Down


    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}


