#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.small.success{type: 'button', value: 'Start'}
  .row
    .small-12.columns
      %input#stop.button.small.alert{type: 'button', value: 'Start'}
  .row
    .small-6.columns
      %input#input{type: 'text', placeholder: 'Input'}
    .small-6.columns
  .row
    .small-12.columns
      %input#add.button.small{type: 'button', value: 'Add'}


