#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.success.small.radius{type: 'button', value: 'start'}
  .row
    .small-12.columns
      %input#stop.button.small.radius{type: 'button', value: 'Stop'}
  .row
    .small-2.columns
      %input#erase.button.alert.small.radius{type: 'button', value: 'Erase'}
  .row
    .small-12.columns
      %p#debug
