
.row#header
  .small-4.columns
    h1 Mixmaster
  .small-5.columns
    img(src='http://i.ebayimg.com/t/LOT-OF-3-CALIFORNIA-RAISIN-TOY-FIGURES-SURFER-BOOMBOX-SKATEBOARD-J-/00/s/NzQyWDE2MDA=/z/gd0AAOxy2FZSTI0O/$(KGrHqFHJE4FJC0l!E,ZBSTI0NlDQw~~60_35.JPG')
  .small-3.columns
    h1 Raisin Noise!
