.row
  #navbar

    .small-2.columns
      a.button.tiny.radius.expand.nav(href='/') Home
    .small-2.columns
      a.button.tiny.radius.expand.nav(href='/songs') Songs
    .small-2.columns
      a.button.tiny.radius.success.expand(href='/songs/new') New Song
    .small-2.columns
      a.button.tiny.radius.expand.nav(href='/artists') Artists
    .small-2.columns
      a.button.tiny.radius.success.expand(href='/artists/new') New Artist
    .small-2.columns
.row
  .small-2.columns
    a.button.tiny.radius.expand.nav(href='/genres') Genres
  .small-2.columns
    a.button.tiny.radius.success.expand(href='/genres/new') New Genres
  .small-8.columns

